{% extends "../base.html" %}
{% load static %}
{% block title %}{{ topic.title }}{% endblock %}
{% block content %}


<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block" width="auto"  alt="Responsive image" src="{{ topic.media.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h4">{{ topic.title }}</h1>
                <p><span class="lead">{{ topic.author }}</span> (Author)</p>
                <p>Category: {{ topic.category }}</p>
                <div class="text-muted"><p>{{ topic.abstract }}</p></div>
                <div class="col">
                        <div class="row p-3">
                            <div class="col-6 text-muted">
                            Created on: {{ topic.created }}
                            </div>
                            <div class="col-6 text-muted">
                            Updated at: {{ topic.updated }}
                            </div>
                        </div>
                    </div>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div>Video link with explanation for the topic:</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                                <a class="text-primary text-decoration-none" href="{{ topic.video_link }}">{{ topic.video_link }}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% autoescape on %}
            <p>{{ topic.body|linebreaksbr}}</p>
            {% endautoescape %}
            
        </div>
    </main>

</div>


{% endblock %}